{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react",
        "<THIRD_PARTY_MODULES>",
        "^@wordhuntle/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
