.App {
  text-align: center;
}

.App-header {
  background-color: #0a0a23;
  height: 5vh;
  font-family: "Source Serif 4", sans-serif;
}

.App-body {
  background-color: #1b1b32;
  height: 95vh;
  
}

.App-link {
  color: #61dafb;
}
