html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Source Serif 4', sans-serif;
}

/* Mobile Devices */
@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
}

/* Ipads, tablets */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* Small screens, laptops */
@media (min-width: 769) and (max-width: 1024px) {
  body {
    font-size: 20px; 
  }
}

/* Desktops, large screens */
@media (min-width: 1024) and (max-width: 1200px) {
  body {
    font-size: 22px; 
  }
}

/* Extra large screens, TV */
@media (min-width: 1200px) {
  body {
    font-size: 24px; 
  }
}

#App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Game {
  width: 100%;
  max-width: 60vh;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  touch-action: none;
}

#Points {

}

#Word {
  display: flex;
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#Word > p {
  font-size: 2rem;
  font-weight: 800;
}

#Grid {
  display: grid;
  grid-template: auto auto / repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.dark {
  background-color: #1b1b32;
  color: #f5f6f7;
}

.light {
  background-color: #f5f6f7;
  color: #0a0a23;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
}

@keyframes modal {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}

.modal {
  position: fixed;
  top: 100%;
  left: 50%;
  width: 100%;
  max-width: min(60vh, 90vw);
  height: 90vh;
  transform: translateX(-50%);
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  animation-name: modal;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.modal-data {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.modal h1 {
  margin-top: 0.75rem;
  font-size: 1.25rem;
}

.modal i,
.modal p {
  margin-top: 0.75rem;
  font-size: 1rem;
}

.modal img {
  margin-top: 1rem;
}

.found {
  display: grid;
  grid-template: auto auto / repeat(2, 1fr);
}

.help {
  margin-top: 1.5rem;
  padding-left: 2rem;
  font-size: 1rem;
}

.puntuation {
  margin-top: 1rem;
  list-style: none;
  font-size: 1rem;
}

.Info img {
  border-radius: 0.5rem;
}

.close-container {
  display: flex;
  justify-content: flex-end;
}

.tile {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.3rem;
  font-weight: 800;
  font-family: 'Source serif 4', sans-serif;
  aspect-ratio: 1;
}

.tile.dark {
  border: 0.25rem solid #0a0a23;
}

.tile.light {
  border: 0.25rem solid #ccc;
}

.tile.selected {
  border: 0.25rem solid #00BFFF;
}

.tile.small {
  font-size: 2rem;
  cursor: default;
}

.points {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 1rem;
}

.points > button {
  margin-left: 0.5rem;
}

.points > h1 {
  margin-right: auto;
  font-size: 2.25rem;
}

.points > p {
  font-size: 1.25rem;
  font-weight: 400;
}

.share {
  margin-top: 1rem;
  background-color: #0a0a23;
  color: #f5f6f7;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.share p {
  margin: 0;
}

.copy {
  margin-top: 1rem;
  background-color: #0a0a23;
  color: #f5f6f7;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.history-grid {
  margin-top: 1rem;
  display: grid;
  grid-template: auto auto / repeat(4, 1fr);
  grid-gap: 0.5rem;
  width: 50%;
}

.history-words {
  margin-top: 1rem;
  display: grid;
  grid-template: auto auto / repeat(2, 1fr);
  grid-gap: auto;
  width: 100%;
}

nav > button {
  margin: 0 0.5rem;
}

nav > p {
  font-size: 1.25rem;
  font-weight: 800;
  margin-right: auto;
}

button > svg {
  font-size: 1rem;
}

nav {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  background-color: #0a0a23;
  color: #f5f6f7;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}
